.chatUserContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0.3rem;
  padding: 0.7rem 0.5rem;
  color: var(--text-primary);
  cursor: pointer;
  isolation: auto;
}

.chatUserContainer:hover::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.chatUserContainer[active="true"]::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.chatUserContainer[active="true"]::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 3px;
  background-color: var(--btn-cta-background-hover);
  pointer-events: none;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  aspect-ratio: 1 / 1;
  width: 3rem;
  background-color: var(--text-secondary);
  border: 1px solid var(--background-primary);
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
  isolation: isolate;
  pointer-events: none;
}

.summaryContainer {
  flex: 1;
  margin-left: 0.8rem;
  min-width: 20vw;
  isolation: isolate;
  pointer-events: none;
}

.summaryContainer h2 {
  font-size: 1rem;
}

.summaryContainer p {
  color: var(--text-secondary);
  font-size: 0.9rem;
}
