.chatUserContainer {
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--form-background-primary);
  overflow-y: scroll;
}

.chatUserContainer::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
.chatUserContainer::-webkit-scrollbar-track {
}

/* Handle */
.chatUserContainer::-webkit-scrollbar-thumb {
  background-color: var(--text-secondary);
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
}

/* Handle on hover */
.chatUserContainer::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-disabled);
}
