.inputContainer {
  flex: 1;
  width: 100%;
  min-width: 0;
  height: var(--chatroom-msgbox-input-container-height);
  min-height: 3.25rem;
}

.divContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.divContainer .divLeftContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 3.25rem;
}

.divContainer .divRightContainer {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.divContainer .divRightContainer .inputTextContainer {
  flex: 1;
  padding: 9px 12px 11px;
  margin: 5px 10px;
  font-size: 1rem;
  line-height: 1.25rem;
  border-radius: 0.5rem;
  min-height: 1.25rem; /* 20px  */
  max-height: 6.25rem; /* 100px  */
  background-color: var(--background-primary);
}

.divContainer .divRightContainer .inputTextContainer input {
  width: 100%;
  user-select: text;
  white-space: pre-wrap;
  word-break: break-word;
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
}

.divContainer .divRightContainer .inputTextContainer input::placeholder {
  padding-left: 1ch;
}

.divContainer .iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  width: 2.5rem;
  height: 2.5rem;
  margin: auto;
  color: var(--text-primary);
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.divContainer .iconContainer:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.divContainer .divRightContainer .iconContainer:hover {
  background-color: transparent;
}
