.form {
  margin: auto;
  background-color: var(--background-secondary);
  border-radius: 5px;
  width: 35vw;
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Login Header Section */
.loginHeader {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.loginHeader h2 {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  letter-spacing: 10px;
}

.loginHeader .signup {
  color: var(--border-focus);
  font-weight: 600;
  cursor: pointer;
}

.loginHeader .signup:hover {
  text-decoration: underline;
}

/* Input Element Section */
.formElementContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0.5rem 0;
}

/* Input Container */

.formElementContainer label {
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.inputContainer {
  display: flex;
  align-items: center;
  height: 2.7rem;
  background-color: var(--background-primary);
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 2px 6px;
}

.inputContainer .inputIcon {
  padding: 0 10px;
  color: var(--text-primary);
}

.inputContainer .input {
  flex: 1;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  max-width: 80%;
  background-color: transparent;
  border: none;
  box-shadow: none;
  appearance: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
}

.inputContainer:focus-within {
  border: 1px solid var(--border-focus);
}

/* add Container Section */
.addContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1rem;
  font-weight: 400;
  width: 80%;
  margin: 1rem 0;
}

.addContainer .rememberContainer {
  flex: 1;
}

.addContainer .rememberContainer label {
  margin-left: 0.5rem;
}

.addContainer .rememberContainer label:hover,
.addContainer .rememberContainer input:hover {
  cursor: pointer;
}

.addContainer .forgotPassword {
  color: var(--text-secondary);
  cursor: pointer;

  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.addContainer .forgotPassword:hover {
  text-decoration: underline;
}

/* CTA Button */
.button {
  margin: 1rem 0;
  width: 80%;
  height: 3rem;
  background-color: var(--btn-cta-background);
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid var(--btn-cta-background-hover);
  border-radius: 5px;
  cursor: pointer;

  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.button:hover {
  background-color: var(--btn-cta-background-hover);
  transform: translateY(2px);
}

/* Continue Text Line */
.continueContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.continueContainer .continue {
  display: inline;
  color: var(--text-disabled);
  margin: 1rem 1rem;
}

.continueContainer .continueSpan {
  flex: 1;
  height: 0;
  border: 1px solid var(--border);
}

/* Alt Sign In Method Section */
.otherLoginContainer {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}

.buttonContainer {
  text-align: center;
  margin: 0 1rem;
  font-size: 2.5rem;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 2rem;
  border: 2px solid var(--border);
  color: var(--text-secondary);

  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.buttonContainer:hover {
  border: 2px solid var(--text-primary);
  color: var(--text-primary);
  transform: translateY(2px);
}

@media (max-width: 1536px) {
  .form {
    width: 45vw;
  }
}

@media (max-width: 1280px) {
  .form {
    width: 55vw;
  }
}

@media (max-width: 1024px) {
  .form {
    width: 60vw;
  }
}

@media (max-width: 870px) {
  .form {
    width: 75vw;
  }
}

@media (max-width: 640px) {
  .form {
    width: 90vw;
    margin: 1rem 0;
  }

  .addContainer {
    flex-direction: column;
    justify-content: center;
  }

  /* Alt Sign In Method Section */
  .otherLoginContainer {
    flex-direction: column;
    align-items: center;
  }

  .buttonContainer {
    margin: 0 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
  }
}
