.hamburger {
  position: absolute;
  left: 0;
  margin: 0 24px;
  height: 1.5rem;
  cursor: pointer;
  z-index: 100;
}

.hamburger .bar {
  display: block;
  background-color: white;
  height: 0.25rem;
  width: 2rem;
  border-radius: 1rem;
  margin: 0.2rem 0;
  pointer-events: none;

  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hamburger[active="true"] .bar:first-child {
  -webkit-transform: translateY(6px) rotate(135deg);
  -moz-transform: translateY(6px) rotate(135deg);
  -o-transform: translateY(6px) rotate(135deg);
  transform: translateY(6px) rotate(135deg);
}

.hamburger[active="true"] .bar:nth-child(2) {
  opacity: 0;

  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -o-transform: translateX(-20px);
  transform: translateX(-20px);
}

.hamburger[active="true"] .bar:last-child {
  -webkit-transform: translateY(-6px) rotate(-135deg);
  -moz-transform: translateY(-6px) rotate(-135deg);
  -o-transform: translateY(-6px) rotate(-135deg);
  transform: translateY(-6px) rotate(-135deg);
}
