.nav {
  position: absolute;
  top: 0;
  height: 100vh;
  background-color: var(--background-secondary);
  transform: translateX(-100%);
  opacity: 0;
  z-index: 15;

  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.nav[active="true"] {
  transform: translateX(0);
  opacity: 1;
}

.nav ul {
  display: flex;
  flex-direction: column;
  padding-top: 6vh;
  width: 20vw;
  max-width: 25vw;
  height: 100%;
}

.nav ul li {
  position: relative;
  font-weight: 600;
  font-size: x-large;
  padding: 1rem 1.5rem;
  color: white;
}

.nav ul li:hover {
  width: 100%;
}

.nav ul li:hover a::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(247, 247, 247, 0.5);
  z-index: 0;
}

.nav .navIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1.5rem;
  color: white;
}

@media (max-width: 1024px) {
  .nav ul {
    width: 30vw;
    max-width: 30vw;
  }
}

@media (max-width: 768px) {
  .nav ul {
    width: 35vw;
    max-width: 35vw;
  }
}

@media (max-width: 640px) {
  .nav ul {
    align-items: center;
    width: 100vw;
    max-width: 100vw;
  }
}
