html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background-primary);
}

html {
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
button,
input {
  color: var(--text-primary);
}

#__next {
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

:root {
  --header-height: 6vh;
  --chatroom-user-list-container-width: auto;
  --chatroom-msgbox-header-height: 3.5rem;
  --chatroom-msgbox-input-container-height: auto;

  --bg-primary-300: #4f5b62;
  --bg-primary-500: #4f5b62;
  --bg-primary-700: #000a12;
  --bg-secondary-300: #ffd95a;
  --bg-secondary-500: #f9a825;
  --bg-secondary-700: #c17900;
  --text-primary-500: #ffffff;
  --text-secondary-500: #000000;

  --background-primary: rgba(21, 21, 21);
  --background-secondary: rgba(33, 33, 33);
  --background-secondary-a: rgba(33, 33, 33, 0.98);
  --form-background-primary: #3b3d3db2;
  --border: hsl(0, 0%, 18.82%);
  --border-focus: #f6a184;
  --btn-cta-background: #ff0000;
  --btn-cta-background-hover: #d80000;
  --btn-login-facebook: #4267b2;
  --text-primary: #fff;
  --text-secondary: #aaa;
  --text-disabled: #717171;
  --chat-card-backgroud-self: #cc0000;
}
